// Global Helpers

html {
    scroll-behavior: smooth;
}

.text-centered {
    text-align: center;

    p {
        width: 100%;
        margin: 0 auto;
    }
}


// Section full h2 + p

.box-text {
    position: relative;
    margin: 0em auto;
    padding: 80px 40px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
    }

    &:after {
        right: -50%;
    }

    &:before {
        left: -50%;
    }

}

.icon-next-section {
    position: absolute;
    left: 0;
    top: -2em;
    right: 0;
}

// Accordeons

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    position: relative;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-left: 0;
    border-right: 0;
    color: #444;
    cursor: pointer;
    padding: 40px 20px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;

        &:first-of-type {
            margin-top: 4em;
        }

        h3 {
            margin-bottom: 0;
        }
  }

  .accordion:after {
      content: '+';
      position: absolute;
      top: 0.8em;
      right: 2em;
      font-size: 2em;
  }

  .accordion.active:after {
    content: '-';
    position: absolute;
    top: 0.8;
    right: 2em;
    font-size: 2em;
    transition: .5s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active {
    border-bottom: 0;
  }

  .active:focus,
  .active:active,
  button:focus {
    outline: none;  
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 40px 20px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
  }

// Slider Accessible
/* ------------------ styles exemples ------------------ */
.relative { position: relative; }
.mod--hidden { overflow: hidden; }

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.news-carrousel {
  min-height: 200px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-carrousel__container {
  white-space: nowrap;
}
.news-carrousel__control__list {
  position: absolute;
  list-style-type: none;
  top: 100%;
  right: 0;
  left: 0;
  margin-top: -0.5em;
  padding-left: 0;
  text-align: center;
}
.news-carrousel__control__list__item {
  display: inline-block;
  margin: 0 .5em;
}
.news-carrousel__control__list__link {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #fff;
  border: 1px solid #148297;
  border-radius: 1em;
  cursor: pointer;
}

.news-carrousel__button-container {
  position: absolute;
}
.news-carrousel__button__previous {
  top: 50%;
  margin-top: -18px;
  left: 0;
  margin-left: -35px;
}
.news-carrousel__button__next {
  top: 50%;
  margin-top: -18px;
  right: 0;
  margin-right: -35px;
}
.news-carrousel__button__button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.news-carrousel__button__img {
  width: 15px;
  transition: .3s;
}

.news-carrousel__button__img:hover {
  opacity: .8;
  transition: .3s;
}

/* seulement pour exemple minimaliste */
.carrousel__content[aria-hidden=true] {
  display: none;
}
/* ------------------ Règles d’état ------------------ */
.news-carrousel__control__list__link:focus,
.news-carrousel__control__list__link:hover,
.news-carrousel__control__list__link:active,
.news-carrousel__control__list__link[aria-selected=true] {
  background: #148297;
}
.news-carrousel__control__list__link:focus,
.news-carrousel__control__list__link:hover,
.news-carrousel__control__list__link:active {
  outline: 2px dotted #4d287f;
}