<div class="service service-summary text-centered">
  {{ if .Params.icon }}
  <div class="service-icon text-centered">
    <img src="{{ .Site.BaseURL }}{{ .Params.icon }}" alt="{{ .Params.iconAlt }}"/>
  </div>
  {{ end }}
  <div class="service-content">
  <div class="service-title">
  <h3><a href="{{ .Permalink }}" {{ if .Params.heroTitleColor }}style="color:{{ .Params.heroTitleColor }}!important;"{{end}}>{{ .Title }}</a></h3>
    </div>
    <div class="service-description">
      <p>{{ .Params.description }}</p>
    </div>
    <div class="service-link"><a class="service-read-more" href="{{ .Permalink }}" {{ if .Params.heroTitleColor }}style="color:{{ .Params.heroTitleColor }};"{{end}}>Read More<i
          class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
  </div>
</div>