<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  {{ if .Site.Params.theme.google_fonts_snippet }}
  {{ .Site.Params.theme.google_fonts_snippet | safeHTML }}
  {{ end }}

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

</head>

{{ define "meta_tags" }}
  {{ partial "meta-tags.html" . }}
{{ end }}

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "main-menu-mobile.html" . }}
  <div id="header"
    class='header {{ if .Site.Params.header.header_fixed }}header-fixed{{ end }} {{ block "header_classes" . }}{{ end }}'>
    {{ partial "header.html" . }}
  </div>
  <div id="wrapper" class="wrapper">

    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "footer-second.html" . }}
  {{ partial "footer-third.html" . }}

  {{ $jquery := resources.Get "js/libs/jquery-3.3.1.min.js" }}
  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ $header := resources.Get "js/header.js" }}
  {{ $hamburger := resources.Get "js/hamburger.js" }}
  {{ $heroTrigger := resources.Get "js/heroTrigger.js" }}
  {{ $slider := resources.Get "js/libs/slider-accessible.js" }}

  {{ $js := slice $jquery $scripts $header $hamburger $heroTrigger $slider | resources.Concat "js/bundle.js" }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ partial "google-analytics.html" . }}

  <!-- Debug bar -->
  {{ if .Site.IsServer }}
  {{ if .Site.Params.debugbar }}
  {{ block "debug" . }}
  {{ end }}
  {{ end }}
  {{ end }}
</body>

</html>