{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
  {{ partial "meta-tags.html" . }}
{{ end }}

{{ define "main" }}

<!-- Hero Image Partial-->
{{ partial "hero-image.html" . }}

<!-- Services Section -->
{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{ if and (gt (len $services) 0) (.Site.Params.homepage.show_services_section) }}
<div class="strip strip-grey pb-10 pt-3">
  <!-- Desktop -->
  <div class="container d-none d-md-block">
    <div class="row justify-content-center">

      {{ if  .Site.Params.homepage.services_section_heading }}
      <div class="col-12">
        <h3 class="section-title text-center mb-3">{{ .Site.Params.homepage.services_section_heading }}</h3>
      </div>
      {{ end }}

      {{ range first .Site.Params.homepage.services_count (sort $services ".Params.weight") }}
      <div class="col-12 col-md-6 col-lg-6 mb-3">
        {{ .Render "summary" }}
      </div>
      {{ end }}

      {{ if .Site.Params.homepage.show_view_all_services_button }}
      <div class="col-12 text-center">
        <a class="button button-primary text-center" href="{{ .Site.Params.homepage.services_button_link | relURL }}">
          {{ .Site.Params.homepage.services_button_text }}
        </a>
      </div>
      {{ end }}

    </div>
  </div>

  <!-- Mobile -->
  <div class="container d-block d-md-none">

    {{ if  .Site.Params.homepage.services_section_heading }}
    <div class="row justify-content-start">
      <div class="col-12">
        <h2 class="section-title text-center mb-3">{{ .Site.Params.homepage.services_section_heading }}</h2>
      </div>
    </div>
    {{ end }}

    <div class="slider">
      {{ range first .Site.Params.homepage.services_count (sort $services ".Params.weight") }}
      {{ .Render "summary" }}
      {{ end }}
    </div>

    {{ if .Site.Params.homepage.show_view_all_services_button }}
    <div class="row">
      <div class="col-12 text-center">
        <a class="button button-primary mt-2" href="{{ .Site.Params.homepage.services_button_link | relURL }}">
          {{ .Site.Params.homepage.services_button_text }}
        </a>
      </div>
    </div>
    {{ end }}

  </div>

</div>
{{end}}


<!-- Splash One -->
{{ if .Site.Params.homepage.show_splash_section_one }}
<div class="strip strip-white splash splash-one">
  <div class="container pt-5 pb-5 pt-md-8 pb-8">
    <div class="row">
      {{ if .Site.Params.homepage.splash_one_image }}
      <div class="col-12 col-md-5">
        <img class="img-fluid" src="{{ .Site.BaseURL }}{{ .Site.Params.homepage.splash_one_image }}" />
      </div>
      {{ end }}
      <div
        class="col-12 {{ if .Site.Params.homepage.splash_one_image }}col-md-6 offset-md-1{{ else }}col-md-12{{ end }}">
        {{ if .Site.Params.homepage.splash_one_heading }}
        <h2>{{ .Site.Params.homepage.splash_one_heading }}</h2>
        {{ end }}
        {{ if .Site.Params.homepage.splash_one_paragraph }}
        <p>{{ .Site.Params.homepage.splash_one_paragraph }}</p>
        {{ end }}
        {{ if .Site.Params.homepage.splash_one_link_url }}
        <a class="button d-none d-md-inline-block"
          href="{{ .Site.BaseURL }}{{ .Site.Params.homepage.splash_one_link_url }}">
          {{ .Site.Params.homepage.splash_one_link_text }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- Partners Section -->
{{ if and (gt (len .Site.Data.partners) 0) (.Site.Params.homepage.show_partners_section) }}
<div class="strip strip-white">
  <div class="container pb-5 pb-8">
    <div class="row">
      <div class="col-12">
        <div class="partners">
          {{ range .Site.Data.partners }}
          {{ if .image }}
          <div class="partner">
            {{ if .url }}
            <a href="{{ .url }}"><img alt="{{ .title }} logo" src="{{ .image }}" /></a>
            {{ else }}
            <img alt="{{ .title }} logo" src="{{ .image }}" />
            {{ end }}
          </div>
          {{ end }}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- Work Section -->
{{ $works := where (where .Site.RegularPages "Type" "work") ".Params.featured" true }}
{{ if and (gt (len $works) 0) (.Site.Params.homepage.show_work_section) }}
<div class="strip strip-grey">
  <div class="container pt-10 pb-10">
    <div class="row justify-content-center">

      {{ if .Site.Params.homepage.work_section_heading }}
      <div class="col-12">
        <h2 class="section-title text-center mb-3">{{ .Site.Params.homepage.work_section_heading }}</h2>
      </div>
      {{ end }}

      {{ range first .Site.Params.homepage.work_count (sort $works ".Params.weight") }}
      <div class="col-12 col-md-6 mb-2">
        {{ .Render "summary" }}
      </div>
      {{ end }}

      {{ if .Site.Params.homepage.show_view_all_work_button }}
      <div class="col-12 text-center">
        <a class="button button-primary text-center" href="{{ .Site.Params.homepage.work_button_link | relURL }}">
          {{ .Site.Params.homepage.work_button_text }}
        </a>
      </div>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}

<div class="strip strip-secondary">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    <path fill="#f4f5fb" d="M738,99l262-93V0H0v5.6L738,99z"></path>
  </svg>
</div>

{{ end }}

{{ define "footer_js" }}
{{ $slick := resources.Get "js/libs/slick.min.js" }}
{{ $home := resources.Get "js/pages/home.js" }}
{{ $homeJS := slice $slick $home | resources.Concat "js/homeBundle.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($homeJS | fingerprint).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($homeJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}