{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ if .Params.headerTransparent }}header-transparent{{ end }}{{ end }}

{{ define "main" }}

<!-- Hero Image Partial-->
{{ partial "hero-image.html" . }}

<div id="hero-anchor" class="strip strip-white pb-4 pt-4 pb-md-10 pt-md-7">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8 col-lg-7">
        <div class="service service-single">
          <div class="content">{{.Content}}</div>
        </div>
      </div>
      <div
        class="col-12 col-md-4 col-lg-4 offset-lg-1 {{ if .Params.heroDiagonal | and (.Params.heroHeight)}}section-menu-negative{{ end }}">
        {{ partial "section-menu.html" . }}
      </div>
    </div>
  </div>
</div>

  {{ if .Params.ctaFooterTitle }}
  <!-- CTA Footer Page Services Single -->
  <div class="strip strip-secondary" {{ if .Params.ctaFooterTitle }}style='background:{{ .Params.ctaFooterBg }};'{{end}}>
    <div class="container pt-6 pb-6">
        <div class="row justify-content-between">
        <div class="col">
            <p class="text-white d-block cta-big-text">{{ .Params.ctaFooterTitle }}</p>
            {{ if .Params.ctaFooterTitle }}<p class="text-white d-block cta-sub-text">{{ .Params.ctaFooterPitch }}</p>{{ end }}
            <a href="{{ .Params.ctaFooterLink }}" class="button button-white mt-1">{{ .Params.ctaFooterBtn }}</a>
        </div>
        </div>
    </div>
  </div>
  {{ end }}
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/servicesBundle.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}