<div class="service service-summary service-summary-large">
  {{ if .Params.thumbnail }}
  <div class="service-thumbnail">
    <a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" /></a>
  </div>
  {{ end }}
  {{ if .Params.icon }}
  <div class="service-icon">
    <img src="{{ .Site.BaseURL }}{{ .Params.icon }}" />
  </div>
  {{ end }}
  <div class="service-content">
    <div class="service-title">
      <h3><a href="{{ .Permalink }}" {{ if .Params.heroTitleColor }}style="color:{{ .Params.heroTitleColor }};"{{end}}>{{ .Title }}</a></h3>
    </div>
    <div class="service-description">
      <p>{{ .Params.description }}</p>
    </div>
    <p>{{ .Content | truncate 120 "..." }}</p>
    <div class="service-link"><a class="service-read-more" href="{{ .Permalink }}" {{ if .Params.heroTitleColor }}style="color:{{ .Params.heroTitleColor }};"{{end}}>Read More<i
          class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
  </div>
</div>