<div class="strip strip-secondary">
    <div class="container pt-6 pb-6">
        <div class="row justify-content-between">
        <div class="col">
            <p class="text-white d-block cta-big-text">{{ .heading }}</p>
            <p class="text-white d-block cta-sub-text">{{ .subheading }}</p>
            <a href="{{ .button_url | relURL }}" class="button button-white mt-1">{{ .button_text }}</a>
        </div>
        </div>
    </div>
</div>