<meta name="robots" content="all">
<link rel="canonical" href="{{ if .Params.metaCanonical }}{{ .Params.metaCanonical }}{{end}}" />
<meta name="title" content="{{ if .Params.metaTitle }}{{ .Params.metaTitle }} {{ else if .Site.Params.homepage_meta_tags.meta_og_title }} {{ .Site.Params.homepage_meta_tags.meta_og_title }} | {{ .Site.Params.title }}{{ end }}" />
<meta name="description" content="{{ if .Params.metaDescription }}{{ .Params.metaDescription }} {{ else if .Site.Params.homepage_meta_tags.meta_description }}{{ .Site.Params.homepage_meta_tags.meta_description }}{{end}}" />
<meta property="og:title" content="{{ if .Params.metaOgTitle }}{{ .Params.metaOgTitle }}{{ else if .Site.Params.homepage_meta_tags.meta_og_title }}{{ .Site.Params.homepage_meta_tags.meta_og_title }}{{end}}" />
<meta property="og:url" content="{{ if .Params.metaOgUrl }}{{ .Params.metaOgUrl }}{{ else if .Site.Params.homepage_meta_tags.meta_og_url }}{{ .Site.Params.homepage_meta_tags.meta_og_url }}{{end}}" />
<meta property="og:description" content="{{ if .Params.metaOgDescription }}{{ .Params.metaOgDescription }}{{ else if .Site.Params.homepage_meta_tags.meta_og_description }}{{ .Site.Params.homepage_meta_tags.meta_og_description }}{{end}}" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:site_name" content="QWEBECO | Agence de Qualité WEB ECO-responsable" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:image" content="{{ if .Params.metaOgImage }}{{ .Params.metaOgImage }}{{ else if .Site.Params.homepage_meta_tags.meta_og_image }}{{ .Site.Params.homepage_meta_tags.meta_og_image }}{{end}}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
<meta name="google-site-verification" content="" />