{{ $_hugo_config := `{ "version": 1 }` }}
<div id='{{ .Get "id" }}' class="box-text text-centered" style="background-color: {{.Get "color" }};">
    <div class="container">
        <a href="" class="icon-next-section"><img src="/images/down-arrow.png" title="Aller au contenu de la section"></a>
        <h2>{{ .Get "title" }}</h2>
        {{ .Inner }}
    </div>
</div>