{{ $_hugo_config := `{ "version": 1 }` }}
<div class="js-carrousel relative">      
    <div class="js-carrousel__container mod--hidden" data-carrousel-btn-previous-img="/images/chevron-left.png" data-carrousel-btn-next-img="/images/chevron-right.png" data-carrousel-btn-previous-text="Voir le contenu précédent" data-carrousel-btn-next-text="Voir le contenu suivant" data-carrousel-prefix-class="news" data-carrousel-span-text-class="invisible" data-carrousel-transition="slide" data-carrousel-existing-hx="h3">

      {{.Inner}}

      <div class="js-carrousel__content">
        <h3>Premier panneau</h3>
        <p>Ici le contenu.</p>
      </div>
      
      <div class="js-carrousel__content">
        <h3>Deuxième panneau</h3>
        <p>Ici le contenu.</p>
      </div>
      
      <div class="js-carrousel__content">
        <h3>Troisième panneau</h3>
        <p>Ici le contenu.</p>
      </div>
            
            
    </div>
  </div>